@page "/projects/create"

@using LightTown.Client.Services.Validation
@using LightTown.Client.Services.Projects
@using LightTown.Client.Web.Services

@inject IValidationService ValidationService
@inject IProjectService ProjectService
@inject NavigationManager NavigationManager
@inject AuthenticationService AuthenticationService


<Form>
    <FormGroup>
        <Input Type="text" Placeholder="Project Name" OnChange="@OnProjectNameChange" />
    </FormGroup>
    <FormGroup>
        <Input Type="text" Placeholder="Description" OnChange="@OnDescriptionChange" />
    </FormGroup>
    <FormGroup>
        <Button Enabled="@_buttonEnabled" Text="Create" OnClick="@CreateProjectAsync" Size="ButtonSize.Full"></Button>
    </FormGroup>
    <FormGroup>
        <p1>@_creationResult</p1>
    </FormGroup>
    @if (_sameProjects != null)
    {
        <Grid>
            <GridColumn ColumnSize="ColumnSize.Full">
                <h3>Found @_sameProjects.Count Similar Projects</h3>
                <br />
                @foreach (var project in _sameProjects)
                {
                    <Card>
                        <p1>Name: @project.ProjectName</p1><br />
                        <p1>Description: @project.ProjectDescription</p1>
                    </Card>
                }
            </GridColumn>
        </Grid>
    }
</Form>


@code {

    private bool _buttonEnabled;
    private bool _projectCreationSuccess = true;

    private string _projectName;
    private string _description;
    private string _creationResult;
    private List<Core.Models.Projects.Project> _sameProjects = new List<Core.Models.Projects.Project>();

    protected override void OnInitialized()
    {
        if (!AuthenticationService.HasAccessToPage(NavigationManager.Uri))
        {
            NavigationManager.NavigateTo("/login");
            return;
        }
    }

    public async Task OnProjectNameChange(string value)
    {
        _projectName = value;

        ValidateInput();

        _sameProjects = await ProjectService.SearchProjects(value);

        StateHasChanged();

    }

    public Task OnDescriptionChange(string value)
    {
        _description = value;

        ValidateInput();

        return Task.CompletedTask;
    }

    private void ValidateInput()
    {
        _buttonEnabled = ValidationService.ValidateProjectCreationInput(_projectName, _description);

        StateHasChanged();
    }

    private async Task CreateProjectAsync()
    {
        //TODO better error handling
        var project = await ProjectService.CreateProject(_projectName, _description);

        _projectCreationSuccess = project != null;

        if (_projectCreationSuccess)
        {
            _creationResult = "Successfully created the new project";
            StateHasChanged();
            //NavigationManager.NavigateTo("/projects");
        }
        else
        {
            _creationResult = "Something went wrong during creation";
            StateHasChanged();
        }
    }
}
