@page "/projects/{ProjectId:int}/timeline"
@using LightTown.Client.Services.Projects
@using LightTown.Client.Services.Users
@using LightTown.Client.Web.Services

@inject IUserDataService UserDataService
@inject IProjectService ProjectService
@inject NavigationManager NavigationManager
@inject AuthenticationService AuthenticationService

    <Grid>
        <GridColumn ColumnSize="ColumnSize.Small">
        </GridColumn>
        <GridColumn ColumnSize="ColumnSize.Medium">
            <Grid>
                <GridColumn ColumnSize="ColumnSize.Full">
                    <GridItem>
                        <h1> <br /> Name: @_project?.ProjectName</h1>
                    </GridItem>
                </GridColumn>
                <GridColumn ColumnSize="ColumnSize.Small">
                </GridColumn>
            </Grid>
        </GridColumn>
    </Grid>

    <Grid>
        <GridColumn ColumnSize="ColumnSize.Small">
            <GridItem>
                <ListGroup Class="mw-300 m-auto">
                    <ListGroupHeader Text="@_project.ProjectName"></ListGroupHeader>
                    <ListGroupItem IsLink="true" Link="@($"/projects/{ProjectId}")" Text="Overview"></ListGroupItem>
                    <ListGroupItem IsLink="true" Link="@($"/projects/{ProjectId}/members")" Text="Members" Active="true"></ListGroupItem>
                    <ListGroupItem IsLink="true" Link="@($"/projects/{ProjectId}/timeline")" Text="Messages"></ListGroupItem>
                </ListGroup>
            </GridItem>
        </GridColumn>
        <GridColumn ColumnSize="ColumnSize.Medium">
            <hr class="underLine" style="border: solid; color: #298ECC" />
            <Grid>
                @*TODO: Get For loop here for all messages in project*@
                <GridColumn ColumnSize="ColumnSize.Small">
                    <GridItem>
                        <h4>Message Title</h4>
                    </GridItem>
                </GridColumn>
                <GridColumn ColumnSize="ColumnSize.Medium">
                    <GridItem>
                        <p>
                            Here will be the message that was posted. It can be a long message, or a short message. Are we going to give it a maximum amount of characters,
                            before you would have to expand it yourself to see the entire message? Might be nice for both the timeline ánd the project view. Keep it structured.
                            Love penguins, they are the best. Also arctic foxes.
                        </p>
                    </GridItem>
                </GridColumn>
                <GridColumn ColumnSize="ColumnSize.Small">
                    <Button Enabled="@true" Text="View" Size="ButtonSize.Big"></Button>
                </GridColumn>
                @*Till here*@
            </Grid>
        </GridColumn>
    </Grid>

@code {

    [Parameter]
    public int ProjectId { get; set; }

    private LightTown.Core.Models.Projects.Project _project = new Core.Models.Projects.Project();

    protected override async Task OnInitializedAsync()
    {
        if (!AuthenticationService.HasAccessToPage(NavigationManager.Uri))
        {
            NavigationManager.NavigateTo("/login");
            return;
        }

        _project = await UserDataService.GetProject(ProjectId);
    }

}
