@page "/authentication"
@inject IValidationService ValidationService
@inject IAuthenticationService AuthenticationService 
@layout FormLayout

@if (IsLoggingIn)
{
    <Form>
        <Input @ref="@LoginUsername" Type="text" Placeholder="Username" OnChange="@ValidateInput" />
        <Input @ref="@LoginPassword" Type="password" Placeholder="Password" OnChange="@ValidateInput" />
        <Button @ref="@LoginButton" Title="Login" OnClick="@Login"></Button>
        <Button Title="Register" OnClick="@Register" Enabled="true"></Button>
    </Form>
}
else
{
    <Form>
        <Input @ref="@RegisterUsername" Type="text" Placeholder="Username" OnChange="@ValidateInput" />
        <Input @ref="@RegisterPassword" Type="password" Placeholder="Password" OnChange="@ValidateInput" />
        <Input @ref="@RegisterPasswordConfirm" Type="password" Placeholder="Confirm Password" OnChange="@ValidateInput" />
        <Input @ref="@RegisterEmail" Type="text" Placeholder="Email" OnChange="@ValidateInput" />
        <Button @ref="RegisterButton" Title="Register" OnClick="@Register"></Button>
        <Button Title="Login" OnClick="@Login" Enabled="true"></Button>
    </Form>
}

@code {

    private Input LoginUsername;
    private Input LoginPassword;

    private Button LoginButton;
    private Button RegisterButton;

    private Input RegisterUsername;
    private Input RegisterPassword;
    private Input RegisterPasswordConfirm;
    private Input RegisterEmail;

    [Parameter]
    public bool IsLoggingIn { get; set; } = true;

    private async Task Login()
    {
        if (IsLoggingIn)
        {

        }
        else
        {
            IsLoggingIn = true;
            StateHasChanged();
        }
    }

    private async Task Register()
    {
        if (IsLoggingIn)
        {
            IsLoggingIn = false;
            StateHasChanged();
        }
        else
        {
            User result = await AuthenticationService.Login(LoginUsername.Text, LoginPassword.Text);
            Console.WriteLine(result);
        }
    }

    private Task ValidateInput(string value)
    {
        if (IsLoggingIn)
        {
            LoginButton.ToggleEnabled(ValidationService.ValidateLoginInput(LoginUsername.Text, LoginPassword.Text));
        }
        else
        {
            RegisterButton.ToggleEnabled(ValidationService.ValidateRegisterInput(RegisterUsername.Text, RegisterPassword.Text, RegisterPasswordConfirm.Text, RegisterEmail.Text));
        }
        return Task.CompletedTask;
    }
}
