@page "/login"
@inject NavigationManager NavigationManager
@inject IValidationService ValidationService
@inject IAuthenticationService AuthenticationService

<Form>
    <FormGroup>
        <Input @ref="@LoginUsername" Type="text" Placeholder="Username" OnChange="@ValidateInput" />
    </FormGroup>
    <FormGroup>
        <Input @ref="@LoginPassword" Type="password" Placeholder="Password" OnChange="@ValidateInput" />
    </FormGroup>
    <FormGroup>
        <Button @ref="@LoginButton" Text="Login" OnClick="@LoginAsync"></Button>
    </FormGroup>
</Form>

@code {

    private Input LoginUsername;
    private Input LoginPassword;

    private Button LoginButton;

    private async Task LoginAsync()
    {  
        
        User result = await AuthenticationService.Login(LoginUsername.Text, LoginPassword.Text);
    
    }

    private Task ValidateInput(string value)
    {
        LoginButton.ToggleEnabled(ValidationService.ValidateLoginInput(LoginUsername.Text, LoginPassword.Text));
        return Task.CompletedTask;
    }

}
