@if (IsLink)
{
    <a href="@Link" class="list-group-header list-group-item-action list-group-header @(Active ? "list-group-item-active" : "")">
        <span class="list-group-header-text">@Text</span>
    </a>
}
else
{
<div class="list-group-header list-group-item-action list-group-header @(Active ? "list-group-item-active" : "")">
    <span class="list-group-header-text">@Text</span>
</div>
}

@code {
    [Parameter]
    public string Text { get; set; } = "";

    [Parameter]
    public bool Active { get; set; } = false;

    [Parameter]
    public bool IsLink { get; set; } = false;

    [Parameter]
    public string Link { get; set; } = "#";
}
