<div class="input-group @(Class)">
    <span class="input-title">@Title</span>
    <span class="input-text">@Text</span>
    <input class="input" @oninput="@Change" type="@Type" placeholder="@Placeholder" value="@Value"/>
</div>

@code {
    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public string Type { get; set; } = "text";

    [Parameter]
    public string Placeholder { get; set; } = "";

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public string Text { get; set; } = "";

    [Parameter]
    public object Value { get; set; } = "";

    [Parameter]
    public Func<string, Task> OnChange { get; set; }

    private string _value;

    public async Task Change(ChangeEventArgs changeEventArgs)
    {
        _value = (string)changeEventArgs.Value;
        if (OnChange != null)
        {
            await OnChange.Invoke(_value);
        }
    }

}