<div class="textarea-group @(Class)">
    <span class="textarea-title">@Title</span>
    <span class="textarea-text">@Text</span>
    <textarea class="textarea" @oninput="@Change" placeholder="@Placeholder">@Value</textarea>
</div>

@code {
    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public string Placeholder { get; set; } = "";

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public string Text { get; set; } = "";

    [Parameter]
    public object Value { get; set; } = "";

    [Parameter]
    public Func<string, Task> OnChange { get; set; }

    private string _value;

    public async Task Change(ChangeEventArgs changeEventArgs)
    {
        _value = (string)changeEventArgs.Value;
        if (OnChange != null)
        {
            await OnChange.Invoke(_value);
        }
    }

}